* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.top {
  width: 100%;
  height: 120px;
  background-color: #009900;
  display: flex;
  justify-content: space-between;
}

/*logo top-left*/
.logo {
  width: 300px;
  height: 150px;
  margin-left: 90px;
  z-index: 999;
  max-width: 100%;
}

.logo > img {
  width: 200px;
  height: 200px;
  filter: drop-shadow(2px 2px 20px #ffc000);
}

/*Menu top-left*/
.top-right {
  display: flex;
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-right: 250px;
  width: 550px;
  height: 100%;
  font-size: 25px;
  color: #ffc000;
  font-weight: bolder;
}
.top-right > div:hover {
  opacity: 1;
}

.top-right > div {
  height: 100%;
  margin: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px black;
  opacity: 0.8;
}
/* Hamburger Bar */
.hamburger_bar {
  display: none;
  width: 100px;
  height: 100%;
}
.hamburger_bar > i {
  color: #ffc000;
  height: 100%;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Welcome*/
.welcome {
  width: 100%;
  height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.welcome > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
/* P insight Welcome */
.p1 {
  font-size: 100px;
  padding: 10px 0px;
  transition: 1s ease-out;
}
.p2 {
  font-size: 30px;
}
.p3 {
  font-size: 30px;
}

.p1,
.p2,
.p3 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Button Welcome */
.inputDiv {
  width: 170px;
  height: 85px;
  margin-top: 30px;
}

.inputDiv > input {
  width: 100%;
  height: 70%;
  background-color: #009900;
  color: white;

  border: 1px solid white;
  border-radius: 20px;
  font-size: 25px;
  cursor: pointer;
}

/* Video Company */

.Video_Company_Container {
  width: 100%;
  min-height: 550px;
  background-color: #cbe3bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Video_div {
  width: 750px;
  height: 100%;
  margin-right: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Video_company {
  width: 100%;
  border-radius: 20px;
}

.Text_div {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.Text_div > h1 {
  margin-bottom: 10px;
  font-size: 35px;
  color: #ffc000;
  text-shadow: 3px 3px black;
}
.article {
  margin-top: 10px;
}
.article > p {
  padding: 3px 0px;
  text-indent: 2rem;
  text-align: center;
}

.line_underH1 {
  width: 80%;
  height: 5px;
  background-color: black;
  margin: 5px;
}

/* Product */
.product_container {
  width: 100%;
  height: auto;
  /* background-color: #9dc08b; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.header_product {
  width: 85%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
}
.all_product {
  padding-left: 30px;
}
.see_all_product {
  text-decoration: none;
  color: #ffc000;
  padding-right: 30px;
  text-shadow: 2px 2px black;
  font-size: 20px;
}

.line_split {
  width: 85%;
  height: 5px;
  background-color: black;
  min-width: 400px;
}

.product_list {
  width: 85%;
  height: 100%;
  /* background-color: beige; */
  margin-top: 40px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  align-items: center;
}
.product_list > div {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  transition: transform 1s;
}

.product_list > div:hover {
  background-color: #ffc000;
  transform: scale(1.02);
}

.img_product {
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.img_product > img {
  width: 90%;
  height: 90%;
  background-color: #cbe3bf;
  border-radius: 10px 10px 0px 0px;
}
.name_product {
  width: 100%;
  height: 50px;
  /* background-color: white; */
  color: black;
}
.name_product_insight {
  width: 90%;
  height: 100%;
  translate: 20px -15px;
  font-size: 35px;
}
.price_product {
  width: 100%;
  height: 50px;
}
.price_product_insight {
  width: 90%;
  height: 100%;
  translate: 20px -20px;
  font-size: 20px;
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* End Product */

/* Footer */
footer {
  background-color: #009900;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.company_footer {
  width: 600px;
  height: 90%;
  margin-left: 30px;
}

.company_name_footer {
  width: 100%;
  height: 30%;
}
.logo_footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo_footer > img {
  width: 100px;
  height: 100%;
}
.logo_footer > h1 {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company_short_text {
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: start;
}
.company_short_text > p {
  width: 70%;
  height: auto;
  font-size: 17px;
}

.link_to {
  width: 100%;
  height: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link_to > a {
  margin: 0px 10px;
}
.link_to > a > i {
  font-size: 35px;
  color: #ffc000;
  margin: 0px 5px;
}

.nav_footer {
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_footer > a {
  text-decoration: none;
  margin: 10px 0px;
  font-size: 30px;
  color: #ffc000;
  transition: box-shadow 0.3s ease-in;
}
.nav_footer > a:hover {
  box-shadow: inset 0 -2px 0 #ffc000;
}

.contact_footer {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding-right: 20px;
}
.contact_footer > h3 {
  font-weight: 300;
}
.contact_footer > p {
  font-size: 20px;
  margin: 10px 0px;
}
.contact_footer > p > span {
  font-weight: 900;
}

.phone {
  display: flex;
  flex-direction: column;
}

.phone_footer {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone_footer > i {
  font-size: 20px;
  margin: 0px 5px;
  color: #ffc000;
}

.phone_footer > p {
  margin-left: 10px;
  font-size: 20px;
}
/* End footer */

/* Credit Web */
.credit_web {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009900;
  background-color: #ffc000;
}
/* End Credit Web */
/* Responsive Web */

@media (max-width: 850px) {
  .top {
    position: relative;
    /* flex-direction: column; */
  }
  .top-right {
    position: absolute;
    display: none;
    background-color: #009900;
    height: 300px;
    width: 100%;
    top: 120px;

    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 99;
  }
  .top-right > div {
    opacity: 1;
    background-color: #009900;
    width: 100%;
    margin: 0;
    display: flex;
  }
  .top-right > div:hover {
    background-color: rgba(255, 192, 0);
    color: #009900;
    cursor: pointer;
  }
  .logo {
    transition: 2s ease-in-out;
    margin: 0px 30px;
  }
  .hamburger_bar {
    display: block;
    cursor: pointer;
    margin-right: 30px;
    z-index: 990;
  }
  .Video_Company_Container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
  }
  .Video_div {
    width: 85%;
    margin: 10px;
  }
  .Text_div {
    height: auto;
    width: 85%;
  }
  .article > p {
    height: auto;
    flex-wrap: wrap;
  }
  /* .product_list {
    grid-template-columns: 1fr 1fr;
  } */
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .company_footer {
    margin-top: 30px;
  }

  .contact_footer,
  .nav_footer {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Phone Responsive */
@media (max-width: 430px) {
  .top-right {
    display: none;
    top: 95px;
  }
  .logo {
    transition: 0s ease-in-out;
    margin: 10px 40px;
    width: 120px;
    height: 100px;
  }
  .logo > img {
    width: 100px;
    height: 100px;
  }
  .hamburger_bar {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }
  .p1 {
    font-size: 100px;
  }
  .p2,
  .p3 {
    font-size: 20px;
  }
  .product_list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .company_footer,
  .contact_footer {
    width: 500px;
    margin: 0px;
    padding: 0px;
  }
  .company_footer > .company_short_text {
    width: 100%;
  }
  .company_footer > p {
    width: 100%;
  }
  .contact_footer > h1 {
    font-size: 25px;
  }.contact_footer > h3 {
    font-size: 15px;
  }
  .contact_footer > p {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .credit_web {
    font-size: 15px;
  }
}
