* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.top {
  width: 100%;
  height: 120px;
  background-color: #009900;
  display: flex;
  justify-content: space-between;
}

/*logo top-left*/
.logo {
  width: 300px;
  height: 150px;
  margin-left: 90px;
  z-index: 999;
  max-width: 100%;
}

.logo > img {
  width: 200px;
  height: 200px;
  filter: drop-shadow(2px 2px 20px #ffc000);
}

/*Menu top-left*/
.top-right {
  display: flex;
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-right: 250px;
  width: 550px;
  height: 100%;
  font-size: 25px;
  color: #ffc000;
  font-weight: bolder;
}
.top-right > div:hover {
  opacity: 1;
}

.top-right > div {
  height: 100%;
  margin: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px black;
  opacity: 0.8;
}
/* Hamburger Bar */
.hamburger_bar {
  display: none;
  width: 100px;
  height: 100%;
}
.hamburger_bar > i {
  color: #ffc000;
  height: 100%;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Welcome*/
.welcome {
  width: 100%;
  height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.welcome > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
/* P insight Welcome */
.p1 {
  font-size: 100px;
  padding: 10px 0px;
  transition: 1s ease-out;
}
.p2 {
  font-size: 30px;
}
.p3 {
  font-size: 30px;
}

.p1,
.p2,
.p3 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Button Welcome */
.inputDiv {
  width: 170px;
  height: 85px;
  margin-top: 30px;
}

.inputDiv > input {
  width: 100%;
  height: 70%;
  background-color: #009900;
  color: white;

  border: 1px solid white;
  border-radius: 20px;
  font-size: 25px;
  cursor: pointer;
}

.test {
  width: 100%;
  height: 100px;
  background-color: aqua;
  display: none;
}

/* Video Company */

.Video_Company_Container {
  width: 100%;
  min-height: 550px;
  background-color: #cbe3bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Video_div {
  width: 750px;
  height: 100%;
  margin-right: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Video_company {
  width: 100%;
  border-radius: 20px;
}

.Text_div {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.Text_div > h1 {
  margin-bottom: 10px;
  font-size: 35px;
}
.article {
  margin-top: 10px;
}
.article > p {
  padding: 3px 0px;
  text-indent: 2rem;
  text-align: center;
}

.line_underH1 {
  width: 80%;
  height: 5px;
  background-color: black;
  margin: 5px;
}

/* Responsive Web */

@media (max-width: 850px) {
  .top {
    position: relative;
    /* flex-direction: column; */
  }
  .top-right {
    position: absolute;
    display: none;
    background-color: #009900;
    height: 300px;
    width: 100%;
    top: 120px;

    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 99;
  }
  .top-right > div {
    opacity: 1;
    background-color: #009900;
    width: 100%;
    margin: 0;
    display: flex;
  }
  .top-right > div:hover {
    background-color: rgba(255, 192, 0);
    color: #009900;
    cursor: pointer;
  }
  .logo {
    transition: 2s ease-in-out;
    margin: 0px 30px;
  }
  .hamburger_bar {
    display: block;
    cursor: pointer;
    margin-right: 30px;
    z-index: 990;
  }
  .Video_Company_Container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
  }
  .Video_div {
    width: 85%;
    margin: 10px;
  }
  .Text_div {
    height: auto;
    width: 85%;
  }
  .article > p {
    height: auto;
    flex-wrap: wrap;
  }
}

/* Phone Responsive */
@media (max-width: 430px) {
  .top-right {
    display: none;
    top: 95px;
  }
  .logo {
    transition: 0s ease-in-out;
    margin: 10px 40px;
    width: 120px;
    height: 100px;
  }
  .logo > img {
    width: 100px;
    height: 100px;
  }
  .hamburger_bar {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }
  .p1 {
    font-size: 100px;
  }
  .p2,
  .p3 {
    font-size: 20px;
  }
}
